# Embedded git repos / external SDKs
dataset download/CMU-MultimodalSDK/
dataset download/mmsdk/
dataset download/data/mmsdk/
mosei_mer_redo.egg-info/



# Virtual environments
mer_env/
*env/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Large data files
*.csd
*.h5
*.hdf5

# Jupyter checkpoints
.ipynb_checkpoints/

# subset_data.py generated artifacts
dataset download/data/subset_*/raw_videos/
dataset download/data/subset_*/utterances/
dataset download/data/subset_*/**/*.part
dataset download/data/subset_*/**/*.ytdl
